@import '../stored/variables.css';

.about {
    color: var(--text-main);
    background-color: var(--bg-secondary);
    font-size: var(--text-s);
    font-family: var(--font-c9e);
    margin: 0 auto;
    line-height: 1.6;
}

.about-paragraph {
    margin: -1px 20px 32px 20px;
    padding-top: 32px;
}

.about .learn-more {
    width: 280px;
    margin: 0 20px;
    padding: 10px 0 42px 0;
}

.about .learn-more a {
    color: var(--brand-color);
    font-family: var(--font-431);
    text-decoration: none;
    transition: all 0.3s ease;
}

.about .learn-more a:hover {
    color: #aaa;
}

@media only screen and (min-width: 980px) {
    .about-paragraph {
        width: 963px;
        font-size: 28px;
        margin: -1px auto 0 auto;
        padding: 56px 0 43px 0;

    }

    .about .learn-more {
        font-size: var(--text-xl);
        width: 963px;
        margin: 0 auto;
        padding: 0 0 65px 0;
    }
}