@import '../stored/variables.css';

body {
    margin-top: 69px;
}

header {
    background-color: var(--header-footer);
    height: 69px;
    align-items: center;
    width: 100%;
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    transition: background-color 0.3s, opacity 0.3s, top 0.3s;
}

.header-layout {
    width: 980px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 130px;
}

.burger-menu {
    flex-direction: column;
    justify-content: space-between;
    width: 26px;
    height: 21px;
    transition: all .33s ease-out;
    cursor: pointer;
    z-index: 20;
}

.burger-menu_one,
.burger-menu_two,
.burger-menu_three {
    width: 50%;
    height: 3px;
    background-color: #DBDBDB;
    border-radius: 1.5px;
}

.burger-menu_one {
    transform-origin: right;
    transition: transform .33s cubic-bezier(.54, -.81, .57, .57);
}

.burger-menu_two {
    width: 100%;
}

.burger-menu_three {
    align-self: flex-end;
    transform-origin: left;
    transition: transform .33s cubic-bezier(.54, -.81, .57, .57);
}

.active .burger-menu_one,
.active .burger-menu_two,
.active .burger-menu_three {
    background-color: #767676;
}

.active .burger-menu_one {
    transform: rotate(-90deg) translateX(4px);
}

.active .burger-menu_three {
    transform: rotate(-90deg) translateX(-4px);
}

.active .burger-menu {
    transform: rotate(-45deg);
}

.nav-on-all a {
    color: var(--text-main);
    text-decoration: none;
    font-size: var(--text-xs);
    font-family: var(--font-c9e);
}

.mobile-navigation {
    background-color: #222222;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -200px;
    opacity: 0;
    z-index: 15;
    transition: right 0.4s ease-in, opacity 0.3s ease-in-out;
}

.mobile-navigation nav {
    width: 200px;
    height: 208px;
    margin-top: 80px;
    z-index: 15;
}

.mobile-navigation nav a {
    display: block;
    width: 188px;
    height: 52px;
    line-height: 52px;
    text-align: right;
    padding: 0 10px 0 0;
}

.active-nav-page {
    color: var(--brand-color) !important;
}

.desktop-navigation {
    display: none;
}

#menu-opened-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222222;
    opacity: 0.62;
    z-index: 10;
}

@media only screen and (min-width: 768px) {
    body {
        margin-top: 84px;
    }

    header {
        position: fixed;
        height: 84px;
    }

    header img {
        width: 182px;
        height: 40px;
    }


    .hamburger-menu,
    .mobile-navigation {
        display: none !important;
    }

    .desktop-navigation {
        display: flex;
        justify-content: end;
        height: 100%;
        width: 454px;
        text-align: end;
    }

    .desktop-navigation ul {
        gap: 30px;
    }

    .desktop-navigation ul li a {
        padding: 0 10px;
        transition: all 0.3s ease-in-out;
    }

    .desktop-navigation ul li:hover a {
        color: var(--brand-color);
    }

    #menu-opened-overlay {
        visibility: hidden;
    }
}